body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #073066;
  background-image: url('../images/dark-triangles.png');
  background-attachment: fixed;
}

header {
  background-color: #5e9ef3;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 3px solid #073066;
}

header h1 {
  font-size: 3.75em;
  color: #073066;
}

#my-links {
  display: flex;
  justify-content: flex-end;
}

#links-list {
  display: flex;
  position: absolute;
  bottom: 0;
}

#links-list li {
  padding: 0 5px;
  color: #073066;
  cursor: pointer;
}

#links-list li a {
  text-decoration: none;
  color: #073066;
}

.link {
  padding: 0 5px;
  position: relative;
  display: inline-block;
}

#links-list li a:hover {
  background-color: #b2cdf0;
  border-radius: 5px;
}

#portfolio-list {
  display: flex;
  position: absolute;
  bottom: -50px;
  background-color: #b2cdf0;
  padding-bottom: 5px;
  border: 3px solid #073066;
  border-radius: 5px;
}

#portfolio-list a {
  text-decoration: none;
  padding: 5px;
  color: #073066;
  border-radius: 5px;
}

#portfolio-list a:hover {
  background-color: #5e9ef3;
  color: #fff;
}

#portfolio-list li {
  padding: 5px;
  margin-top: 6px;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}

.opacity {
  opacity: 15%;
}

/*small screen*/
@media screen and (max-width: 600px) {
  #portfolio-dropdown {
    display: none;
    background-color: black;
  }

  #profile-pic {
    float: none;
    margin: auto;
  }

  #main-content {
    width: 100%;
    border-top: 3px solid #073066;
    border-bottom: 3px solid #073066;
  }

  #main-content-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-content-header h3 {
    font-size: 2rem;
  }

  .portfolio-slot {
    width: 100%;
  }

  #portfolio-contents {
    flex-direction: column;
  }
}

/*fullscreen*/
@media screen and (min-width: 601px) {
  #portfolio-dropdown-sm {
    display: none;
    background-color: black;
  }

  #profile-pic {
    float: left;
    margin-right: 15px;
  }

  #main-content {
    border: 3px solid #073066;
    border-radius: 10px;
  }

  .portfolio-slot {
    width: 40%;
  }
}

#main-content {
  /* border: 3px solid #073066;
  border-radius: 10px; */
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 35px;
  background-color: #fff;
}

#main-content-contents {
  margin-top: 30px;
}

#main-content-header {
  border-bottom: 1px solid #073066;
  margin-bottom: 10px;
}

#profile-pic {
  width: 200px;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 15px;
}

#portfolio-contents {
  display: flex;
  justify-content: space-around;
}

.portfolio-img {
  width: 100%;
  border-bottom: 4px solid #073066;
  border-right: 4px solid #073066;
  border-top: 4px solid #cbdff8;
  border-left: 4px solid #cbdff8;
}

.portfolio-img:active {
  border-top: 4px solid #073066;
  border-left: 4px solid #073066;
  border-bottom: 4px solid #cbdff8;
  border-right: 4px solid #cbdff8;
}

.portfolio-slot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-para {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0 10%;
  cursor: default;
}

.portfolio-link {
  background-color: #5e9ef3;
  color: #fff;
  padding: 5px 10px;
  border-bottom: 2px solid #073066;
  border-right: 2px solid #073066;
  border-top: 2px solid #cbdff8;
  border-left: 2px solid #cbdff8;
}

.portfolio-link:hover {
  background-color: #b2cdf0;
}

.portfolio-link:active {
  border-top: 2px solid #073066;
  border-left: 2px solid #073066;
  border-bottom: 2px solid #cbdff8;
  border-right: 2px solid #cbdff8;
  color: #073066;
}

footer {
  background-color: #999999;
  border-top: 3px solid #073066;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: auto;
}

footer p {
  font-size: 0.7em;
  color: #073066;
  position: relative;
  top: 18px;
  margin: 0;
}
